# Ignore virtual environment folders
venv/
*/venv/
**/venv/

# Ignore Python cache files
__pycache__/
*/__pycache__/
**/__pycache__/

# Ignore Docker files
Dockerfile
docker-compose.yml

# Ignore .gitattributes file
.gitattributes


